
// Body
$body-bg: #f3f4fd;

// Borders
$base-border-color: darken($body-bg, 5%);
$list-group-border: $base-border-color;
$navbar-default-border: $base-border-color;
$panel-default-border: $base-border-color;
$panel-inner-border: $base-border-color;
// Brands
$brand-primary: #5F6BEC;
$brand-secondary: #2F314A;
$brand-info: #63D5FF;
$brand-success: #6CC27A;
$brand-warning: #FFAA57;
$brand-danger: #EA4040;

// Colors
$gray-base: #5F6283;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$headings-line-height: 1.2;
$text-color: #5F6283;

$font-size-h1:            floor(($font-size-base * 3.1)) !default;
$font-size-h2:            floor(($font-size-base * 2.7)) !default;
$font-size-h3:            ceil(($font-size-base * 2.3)) !default;
$font-size-h4:            ceil(($font-size-base * 1.9)) !default;
$font-size-h5:            ceil(($font-size-base * 1.5)) !default;
$font-size-h6:            ceil(($font-size-base * 1)) !default;

// Navbar
$navbar-inverse-bg: $brand-secondary;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
